<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- IIS как реверс-прокси к Kestrel -->
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\TelegramRPS.Server.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    <security>
      <requestFiltering>
        <!-- Ограничение на размер загружаемых файлов (если нужно) -->
        <requestLimits maxAllowedContentLength="52428800" />
        <!-- 50MB -->
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
<!--ProjectGuid: 8F949C40-95B1-4D92-BAF4-BB01E7295831-->