<div class="telegram-auth-required">
    <h2>Вы не авторизованы через Telegram</h2>
    <p>Пожалуйста, авторизуйтесь через нашего Telegram-бота</p>

    <a href="https://t.me/TgPayden_bot" target="_blank">
        <img class="telegram-open-btn" src="images/open-in-telegram.png" alt="Open in Telegram" />
    </a>
</div>